//colors
$gradient1Teal: rgb(80, 182, 191);
$gradient1Blue: rgb(85, 172, 208);
$gradient2PalePink: rgb(245, 243, 252);
$gradient2PaleBlue: rgb(242, 250, 252);
$brightTeal: rgb(80, 182, 191);
$darkTeal: rgb(49, 144, 170);
$darkBeige: rgb(225, 225, 217);
$darkBlue: rgb(33, 49, 82);
$spaceBlue: rgb(12, 29, 72);
$almostWhite: #F2F3F4;


//breakpoints
$breakpoint-xs: 0;
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;
$breakpoint-sxl: 1500px;

//fonts
$titleFont: 'Raleway', sans-serif;
$paragraphFont: 'Raleway', sans-serif
